[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "pico-vfs"]
	path = pico-vfs
	url = https://github.com/oyama/pico-vfs
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash
